network:
  api_id: ${TELEGRAM_API_ID}
  api_hash: ${TELEGRAM_API_HASH}
  device_info:
    device_model: mautrix-telegram
  sync:
    create_limit: 0
    update_limit: -1
    direct_chats: true

homeserver:
  address: http://synapse:8008
  domain: ${DOMAIN}
  software: standard

appservice:
  address: http://mautrix-telegram:29317
  hostname: 0.0.0.0
  port: 29317
  id: telegram
  bot:
    username: telegrambot
    displayname: Telegram bridge bot
    avatar: mxc://maunium.net/tJCRmUyJDsgRNgqhOgoiHWbX
  ephemeral_events: true
  as_token: ${TELEGRAM_BRIDGE_AS_TOKEN}
  hs_token: ${TELEGRAM_BRIDGE_HS_TOKEN}
  username_template: telegram_{{.}}

database:
  type: postgres
  uri: postgres://mautrix_telegram:${TELEGRAM_BRIDGE_DB_PASSWORD}@postgres:5432/mautrix_telegram?sslmode=disable

bridge:
  displayname_template: "{{.Name}} (TG)"
  portal_create_filter:
    mode: allow
    list: []
  public_portals: false
  delivery_receipts: true
  permissions:
    "*": relay
    "${DOMAIN}": user
    "@${ADMIN_MXID}:${DOMAIN}": admin

encryption:
  allow: true
  default: true
  require: false
  appservice: true
  self_sign: true
  allow_key_sharing: true
  pickle_key: ${TELEGRAM_BRIDGE_PICKLE_KEY}
  verification_levels:
    receive: unverified
    send: unverified
    share: cross-signed-tofu

logging:
  min_level: info
  writers:
    - type: stdout
      format: pretty-colored
